.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
}

.pokemon-grid {
    display: grid;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 16px;
}

.pokemon-card {
    background-color: #ffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: calc(33.3333% - 32px);
    max-width: calc(33.3333% - 32px);
    min-width: 320px;
}
.pokemon-card img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    background-color: cornflowerblue;
}

.pokemon-info {
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: space-between;

}

.pokemon-name {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;
}

.pokemon-type {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 16px;
    color: #666666;
    text-transform: uppercase;
}

.type-fire {
    background: linear-gradient(45deg, #ff9a9e, #fad0c4);
}

.type-electric {
    background: linear-gradient(45deg, #fbc7a4, #fceabb);
}

.type-water {
    background: linear-gradient(45deg, #a1c4fd, #c2e9fb);
}

.type-normal {
    background: linear-gradient(45deg, #8cb729, #96e6a1);
}

.type-ghost {
    background: linear-gradient(45deg, #cfd9df, #e2ebf0);
}

.type-psychic {
    background: linear-gradient(45deg, #fbc7a4, #eab736);
}

.type-grass {
    background: linear-gradient(45deg, #d4fc79, #96e6a1);
}


@media screen and (max-width: 768px) {
    .pokemon-grid {
            gap: 16px;
    }
}

.pokemon-card {
    flex: calc(50% - 16px);
    max-width: calc(50% - 16px);
}

.pokemon-card:hover {
    transform: translate(-8px)
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}
